body {
    margin:0px;
    padding:0px;
    background:#fff;
    /* font-family:"Arial Black", Arial, Helvetica, sans-serif;*/
}
* {
    margin:0;
    padding:0;
    list-style-type:none;
}
.content {
    width: 1440px;
    height: 1666px;
    background-color: #f5f8f9;
}
#nav {
    width: 1440px;
    height: 100px;
    background-color: #ffffff;
}
#logo {
    width: 105px;
    height: 30px;
    padding-left: 150px;
    padding-top: 30px;
    padding-bottom: 40px;
    float: left;
}
#logout {
    width: 110px;
    height: 40px;
    padding-right: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
    float: right;
}
#column {
    width: 1145px;
    height: 40px;
    margin-left: 150px;
    padding-top: 70px;
    padding-bottom: 60px;
}
#column_left {
    width: 572px;
    float: left;  
}
#column_left > ul {
    
    background-color: #f5f8f9;
}
#column_left > ul > li {
    color: #777b7e;
    font-size: 15px;
    margin-right: 10px;
}
#column_left > ul > li > a {
    color: #262b2e;
    font-size: 30px;
}
#column_right {
    width: 572px;
    float: right;
}
#column_right > ul {
    float: right;
}
#column_right > ul > li {
    float: left;
    margin-left: 30px;
    font-size: 13px;
    font-weight: bold;
}
.columnhover:hover {
    border-bottom: #cccfd0 solid 2px;
}
#banner {
    width: 1130px;
    height: 290px;
    margin-left: 160px;
}
.banner_left {
    width: 539px;
    height: 267px;
    float: left;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}
.banner_left ul,li {list-style: none;}
.banner_left_box1 ul li {
    width: 539px;
    height: 267px;
    position: relative;
    overflow: hidden;
}
.banner_left_box1 ul li img {
    display: block;
    width: 539px;
    height: 267px;
}
.banner_left_box2 {
    position: absolute;
    right: 214.5px;
    bottom: 14px;
}
.banner_left_box2 ul li {
    float: left;
    width: 12px;
    height: 12px;
    overflow: hidden;
    margin: 0 5px;
    border-radius: 10%;
    background: rgba(0, 0, 0, 0.5);
    text-indent: 100px;
    cursor: pointer;
}
.banner_left_box2 ul .on {
    background: rgba(255, 255, 255, 0.6);
}
.banner_left_box3 span {
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, .3);
    width: 30px;
    height: 50px;
    top: 50%;
    font-family: "宋体";
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    margin-top: -20px;
    text-align: center;
    cursor: pointer;
}
.banner_left_box3 .prev {
    left: 10px;
}
.banner_left_box3 .next {
    right: 10px;
}
.banner_left_box3 span::selection {
    background: transparent;
}
.banner_left_box3 span:hover {
    background: rgba(0, 0, 0, .8);
}
#banner_right {
    width: 560px;
    height: 290px;
    background-color: #ffffff;
    float: right;
}
.banner_right_top{
    width: 560px;
    height: 110px;
    border-bottom: #cccfd0 solid 1px;
}
.banner_right_top1 {
    width: 200px;
    height: 50px;
    margin-top: 40px;
    margin-left: 30px;
    float: left;
    font-size: 18px;
    font-weight: bold;
}
.banner_right_top2 {
    width: 100px;
    height: 50px;
    margin-top: 30px;
    margin-right: 50px;
    float: right;
    font-size: 13px;
    border: #e9e9ea solid 1px;
    text-align: center;
    line-height: 50px;
}
.banner_right_bottom{
    width: 560px;
    height: 180px;
}
.banner_right_bottom > ul {
    float: left;
    display: block;
    width: 100px;
}
.banner_right1 { 
    margin-left: 40px;
}
.banner_right2 {
    margin-left: 150px;
}
.banner_right_bottom > ul > li {
    margin-top: 20px;
    height: 30px;
}
.banner_right_bottom1{
    font-size: 14px;
    font-weight: bold;
}
.banner_right_bottom2{
    font-size: 13px;
}
.banner_right_bottom3{
    font-size: 13px;
    background-color: #5dd054;
    width: 55px;
    height: 30px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}
.datadir {
    width: 1130px;
    height: 290px;
    background-color: #ffffff;
    margin-left: 160px;
    margin-top: 20px;
}
#graphs {
    width: 1130px;
    height: 290px;
    margin-left: 160px;
    margin-top: 20px;
}
#graphs_left {
    width: 555px;
    height: 290px;
    margin-right: 20px;
    background-color: #ffffff;
    float: left;
}
#graphs_right {
    width: 555px;
    height: 290px;
    background-color: #ffffff;
    float: right;
}
#footer {
    width: auto;
    height: 300px;
    background-color: #202124;
    margin-top: 55px;
    position: relative;
    bottom: 0px;
}
#footer_logo{
    width: 255px;
    height: 300px;
    float: left;
}
#footer_logo img {
    float: right;
    margin-top: 80px;
}
#friendlink {
    min-width: 930px;
    height: 300px;
    float: left;
    padding-top: 65px;
    padding-left: 75px;
}
#friendlink > ul {
    height: 15px;
    margin-top: 15px;
}
#friendlink > ul > li {
    float: left;
    margin-right: 115px;
    width: 75px;
    color: #ffffff;
    font-size: 13px;
}